.star {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: #d3d3d3;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #FF9529;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.card{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    transition-duration: 0.4s;
}

.card:hover{
    background-color: #F1f3f3;
}

.btn-star{
    color: #FF9529;
    transition-duration: 0.4s;
}

.btn-star:hover{
    color: #ffbb76;
}